nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: var(--bgcolor);
  h2 {
    font-size: 1.5rem;
    font-weight: 900;
  }
  a {
    color: var(--color-a);
    margin-left: 60px;
    font-size: 1rem;
    &:hover {
      text-decoration: underline #6b7fb8;
    }
  }
}
